/* 
.open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
     font-weight: <weight>;
    font-style: normal;
    font-variation-settings: 
      width: 100;
  } */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'opem Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

/* img{
    max-width: 1005;
   } */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    color: #000000;
}

p {
    font-size: 1em;
    color: #777;
}

.cabecalho {
    width: 100%;
    float: left;
    padding: 50px 8%;
    background-color: #078e81;

}

.logoContainer {
    display: flex;
    align-items: center;

}

.logo a {
    width: 221px;
    height: 48px;
    float: left;
    font-size: 0;
    background: url(/imagens/icon.png) no-repeat
}

.cabecalho form {
    width: 30%;
    float: right;
}

.cabecalho input[type="text"] {
    width: 85%;
    float: left;
    padding: 15px 10px;
}

.cabecalho button {
    width: 15%;
    float: right;
    padding: 15px 10px;
    background-color: #00010122;
    color: #ffffff;
    cursor: pointer;
}

.menu {
    width: 100%;
    float: left;
    background-color: #111;
    padding: 18px 8px;
}

.menu li{
    float: left;
}
.menu li a {
    color: #fff;
    margin-left: 25px;
}
.menu li a:hover{
    color:#078e81;
}