/* 
.open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
     font-weight: <weight>;
    font-style: normal;
    font-variation-settings: 
      width: 100;
  } */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'opem Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

/* img{
    max-width: 1005;
   } */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    color: #000000;
}

p {
    font-size: 1em;
    color: #777;
}

.cabecalho {
    width: 100%;
    float: left;
    padding: 50px 8%;
    background-color: #078e81;

}

.logoContainer {
    display: flex;
    align-items: center;

}

.logo a {
    width: 221px;
    height: 48px;
    float: left;
    font-size: 0;
    background: url(/imagens/icon.png) no-repeat
}

.cabecalho form {
    width: 30%;
    float: right;
}

.cabecalho input[type="text"] {
    width: 85%;
    float: left;
    padding: 15px 10px;
    border-radius: 5px 0 0 5px;
}

.cabecalho button {
    width: 15%;
    float: right;
    padding: 15px 10px;
    background-color: #00010122;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
     
}

.menu {
    width: 100%;
    float: left;
    background-color: #067B70;
    padding: 18px 8px;
}

.menu li {
    float: left;
}

.menu li a {
    color: #fff;
    margin-left: 25px;
}

.menu li a:hover {
    color: #bce5e1;
}

.socialIcons {
    float: right;
    margin-right: 3%;
}

.socialIcons a {
    float: left;
    margin-left: 18px;
}

.socialIcons a:hover {
    color: #bce5e1;
}
.principal{
    width: 100%;
    float: left;
    padding: 20px 8%;
}
.sobre{
    width: 70%;
    float: left;
    padding: 0 20px 20px 0;
}
.sobre h2{
    margin-bottom: 15px;
}
.sobre img{
    width: 50%;
    float: left;
    border-radius: 5px;
    margin: 0 15px 15px 0;
}
.sobre p{
    text-align: justify;
}
.ondeEstamos{
    width: 30%;
    float:right;
    padding: 10px 20px;
    background-color: #078e8184;
}
.ondeEstamos h2{
    margin-bottom: 5px;
}
.ondeEstamos iframe{
    width: 100%;
    height: 250px;
    margin: 20px 0;
}
.ondeEstamos li{
    color: #777;
    margin-bottom: 10px;
}
.ondeEstamos i{
    margin-right: 5px;
}
.newsletter{
    width: 100%;
    float: left;
    background-color: #054640;
    padding: 50px 8%;
}
.newsletter h3{
    font-size: 1.8em;
    color: #fff;
}
.newsletter p{
    font-size: 1.2em;
    color: #fff;
}
.newsletter form{
    width: 100%;
    float: left;
    margin-top: 10px;
}
.newsletter form input{
    width: 40%;
    margin-right: 1%;
    padding: 15px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #fff;
    background-color: initial;
    float: left;
}
    .newsletter button{
        width: 18%;
        background-color: #fff;
        padding: 15px 10px;   
        border-radius: 5px;
        float: right; 
        cursor: pointer;
    }
.rodape{
    width: 100%;
    float: left;
    background-color: #042623;
    padding: 20px 8%;
}
.rodape p{
    color: #fff;
}